// Light theme Sass variables
$color-background-light: #fff
$color-btn-light: #f00201
$color-btn-text-light: #fff
$project-card-background-light: #ffffff00
$color-text-light: #222
$color-form-text-light: #555
$color-footer-text-light: #888

// Dark theme Sass variables
$color-background-dark: #222
$color-btn-dark: #fff
$color-btn-text-dark: #222
$project-card-background-dark: #ffffff00
$color-text-dark: #fff
$color-form-text-dark: #fff
$color-footer-text-dark: #bbb

:root
    --color-background: #{$color-background-light}
    --color-btn: #{$color-btn-light}
    --color-btn-text: #{$color-btn-text-light}
    --project-card-background: #{$project-card-background-light}
    --color-text: #{$color-text-light}
    --color-form-text: #{$color-form-text-light}
    --color-footer-text: #{$color-footer-text-light}

[data-theme='dark']
    --color-background: #{$color-background-dark}
    --color-btn: #{$color-btn-dark}
    --color-btn-text: #{$color-btn-text-dark}
    --project-card-background: #{$project-card-background-dark}
    --color-text: #{$color-text-dark}
    --color-form-text: #{$color-form-text-dark}
    --color-footer-text: #{$color-footer-text-dark}